
@font-face {
    font-family: 'moonChild';
    src: url('../fonts/Moonchild2.ttf') format('truetype');
    /* Autres propriétés facultatives */
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    background-color: #fff;
    color: #fff;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

a{
    text-decoration: none;
}


.home{
    font-family: 'moonChild';
    color: #06BF09;
    font-size: 3.5rem;
    margin-left: 1.5rem;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #06BF09;
}

.li{
    color: #06BF09;
    font-weight: bold;
    list-style: none;
    position: relative;
}

.li:after{
    content: "";
    height: 2px;
    background-color: #06BF09;
    width: 0;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: 0.2s all ease-in-out;
}

.li:hover:after{
    width: 100%;
    left: 0;
}


.menu-list{
    display: flex;
    flex-direction: row;
}

.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.burger{
    color: #06BF09;
    font-size: 2rem;
    margin-right: 1.5rem;
}

.burger:hover {
    cursor: pointer;
    transform: scale(1.1); /* Zoom au survol (ajuste la valeur selon vos préférences) */
}

.close{
    display: none;
}
h1{
    color: #06BF09;
    margin: 4px;
}
/* Contenu de l'historique */
.historique-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

/* Style des éléments de l'historique */
.historique-container p {
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
 button {
    background-color: #06BF09;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    margin-right: 10px;
}

.button button:hover {
    background-color : #fff;
    color: #06BF09;
}

/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1055px){
    .menu{
        display: none;
    }

    .menu-icon{
        display: block;
        margin: 20px;
        cursor: pointer;
    }

    .menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 220px;
        height: 100vh;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: 0.3s transform ease-in-out;
    }

    .menu.open{
        transform: initial;
        display: flex;
    }
    
    .menu-list{
        flex-direction: column;
        align-items: flex-start;
    }
    .close{
        display: block;
        color: #06BF09;
        font-size: 40px;
        position: absolute;
        top: 16px;
        right: 25px;

    }
    
    .li{
        font-size: 25px;
        position: relative;
    }

    .li:after {
        content: "";
        height: 2px;
        background-color: #06BF09;
        width: 0 !important; /* Ajoutez !important ici */
        position: absolute;
        bottom: -5px;
        right: 0;
        transition: 0.2s all ease-in-out;
    }

    .li:hover:after {
        width: 100% !important; /* Ajoutez !important ici */
        left: 0;
    }

    /* .picture-container{
        height: 30rem;
    }

    img{
        height: 150px;

    } */

}
