* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: rgb(29, 0, 60);
    background: linear-gradient(90deg, rgba(29, 0, 60, 1) 30%, rgba(60, 3, 113, 1) 61%, rgba(90, 1, 167, 1) 89%);
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    margin: 5px;
}

.profil{
    color: white;
    text-decoration: none;
    
}


.deconnect {
    background-color: #4b0971;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.deconnect:hover {
    background-color: #5a01a7;
}


.left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

a{
    margin-left: 15px;
}