

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    background-color: #fff;
    color: #fff;
}



h2 {
    text-align: center;
    margin-top: 40px;
    color: #06BF09;
}



form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.error {
    color: red;
}

input[type="submit"] {
    background-color: #06BF09;
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color : #fff;
    color: #06BF09;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p{
    color: #06BF09;
}