/* Reset des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le corps de la page */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #fff;
}

/* En-tête */



/* Section d'inscription */
h2 {
    text-align: center;
    margin-top: 20px;
    color: #06BF09;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}



input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.error {
    color: red;
}

/* Bouton d'enregistrement */
input[type="submit"] {
    background-color: #06BF09;
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.cguP{
    color: #333;
    margin-left: 10rem;
}

input[type="submit"]:hover {
    background-color : #fff;
    color: #06BF09;
}
button{
    background-color: #4b0971;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.popo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 36rem;
    flex-direction: column;
}

.signin{
    background-color: #4b0971;
    color: #fff;
    margin: 25px;
    width: 75%;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.signp{
    font-weight: bold;
}