@font-face {
    font-family: 'moonChild';
    src: url('../fonts/Moonchild2.ttf') format('truetype');
    /* Autres propriétés facultatives */
    font-weight: normal;
    font-style: normal;
}



/* Reset des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le corps de la page */
body {
    background-color: #fff;
    color: #fff;
}

/* En-tête */
header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    font-family: 'moonChild';
    color: #06BF09;
    font-size: 4rem;
    margin-left: 1.5rem;
}

.nav-icon{
    position: fixed;
    color: #06BF09;
    top: 100px;
    font-size: 3rem;
    z-index: 999;
    cursor: pointer;
}
/* Section trajet */
h2 {
    text-align: center;
    margin-top: 20px;
}
a{
    text-decoration: none;
}


.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.error {
    color: red;
}

/* Bouton d'enregistrement */
input[type="submit"], button {
    background-color: #06BF09;
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover, button:hover {
    background-color : #fff;
    color: #06BF09;
}

/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
